{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 2,
	"semi": false,
	"jsxSingleQuote": false,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"useTabs": true,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-curly"]
}
